<div class="row">
    <div class="col-6">
        
        <app-doughnut title="Sales"></app-doughnut>

    </div>
    <div class="col-6">
        
        <app-doughnut [labels] ="labels1"
                      [data]="data1"
                      title="ventas">
        </app-doughnut>

    </div>
</div>
<div class="row">
    <div class="col-6">
        
        <app-doughnut title="almacen"></app-doughnut>

    </div>
    <div class="col-6">
        
        <app-doughnut title="envios"></app-doughnut>

    </div>
</div>